
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}



*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-gray-200, currentColor);
}
button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}
body {
  @apply font-outfit relative z-1 bg-gray-50 font-normal;
}
