:root {
  --space-4xs: 0.125rem; /* 2px */
  --space-3xs: 0.25rem; /* 4px */
  --space-2xs: 0.5rem; /* 8px */
  --space-xs: 0.75rem; /* 12px */
}
/* Spacing (instead of theme.extend.spacing) */

@theme {
  --spacing-4xs: var(--space-4xs);
  --spacing-3xs: var(--space-3xs);
}
